html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
code,
em,
img,
q,
small,
strong,
dd,
dl,
dt,
li,
ol,
ul,
fieldset,
form,
label,
table,
tbody,
tr,
th,
td,
input {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: "Helvetica Neue", "Hiragino Sans GB", "Segoe UI", "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  _font-family: Tahoma, Arial, Helvetica, STHeiti, sans-serif;
  cursor: default;
}
html.hasFontSmoothing-false body {
  font-family: Tahoma,Arial,Helvetica,STHeiti;
}
a img,
:link img,
:visited img {
  border: 0;
}
table {
  border-collapse: collapse;
}
ul {
  list-style: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
.skin-button-willsilver-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 32px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 32px;
}
.skin-button-willsilver-lite .ui-button-label {
  padding-right: 5px;
  height: 32px;
}
.skin-button-willsilver-lite .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left 0 no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left 0 no-repeat;
}
.skin-button-willsilver-lite .ui-button-label {
  background: url('../images/button-bg.$5826.png') right 0 no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right 0 no-repeat;
}
.skin-button-willsilver-lite-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -50px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -50px no-repeat;
}
.skin-button-willsilver-lite-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -50px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -50px no-repeat;
}
.skin-button-willsilver-lite-press {
  line-height: 31px;
  color: #A9AAAB;
}
.skin-button-willsilver-lite-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -100px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -100px no-repeat;
}
.skin-button-willsilver-lite-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -100px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -100px no-repeat;
}
.skin-button-willsilver-lite-disabled {
  cursor: default;
}
.skin-button-willsilver-lite-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -150px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -150px no-repeat;
}
.skin-button-willsilver-lite-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -150px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -150px no-repeat;
}
.pre-style-willsilver-lite {
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willsilver {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willsilver .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willsilver .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -200px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -200px no-repeat;
}
.skin-button-willsilver .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -200px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -200px no-repeat;
}
.skin-button-willsilver-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -250px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -250px no-repeat;
}
.skin-button-willsilver-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -250px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -250px no-repeat;
}
.skin-button-willsilver-press {
  line-height: 38px;
  color: #A9AAAB;
}
.skin-button-willsilver-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -300px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -300px no-repeat;
}
.skin-button-willsilver-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -300px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -300px no-repeat;
}
.skin-button-willsilver-disabled {
  cursor: default;
}
.skin-button-willsilver-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -350px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -350px no-repeat;
}
.skin-button-willsilver-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -350px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -350px no-repeat;
}
.pre-style-willsilver {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 27px;
  line-height: 25px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 27px;
}
.skin-button-willblue-lite .ui-button-label {
  padding-right: 5px;
  height: 27px;
}
.skin-button-willblue-lite .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -400px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -400px no-repeat;
}
.skin-button-willblue-lite .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -400px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -400px no-repeat;
}
.skin-button-willblue-lite-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -450px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -450px no-repeat;
}
.skin-button-willblue-lite-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -450px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -450px no-repeat;
}
.skin-button-willblue-lite-press {
  line-height: 26px;
  color: #A1B5C2;
}
.skin-button-willblue-lite-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -500px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -500px no-repeat;
}
.skin-button-willblue-lite-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -500px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -500px no-repeat;
}
.skin-button-willblue-lite-disabled {
  cursor: default;
}
.skin-button-willblue-lite-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -550px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -550px no-repeat;
}
.skin-button-willblue-lite-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -550px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -550px no-repeat;
}
.pre-style-willblue-lite {
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willblue .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -600px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -600px no-repeat;
}
.skin-button-willblue .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -600px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -600px no-repeat;
}
.skin-button-willblue-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -650px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -650px no-repeat;
}
.skin-button-willblue-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -650px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -650px no-repeat;
}
.skin-button-willblue-press {
  line-height: 38px;
  color: #A1B5C2;
}
.skin-button-willblue-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -700px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -700px no-repeat;
}
.skin-button-willblue-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -700px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -700px no-repeat;
}
.skin-button-willblue-disabled {
  cursor: default;
}
.skin-button-willblue-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -750px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -750px no-repeat;
}
.skin-button-willblue-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -750px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -750px no-repeat;
}
.pre-style-willblue {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willblue-mid {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 32px;
  line-height: 30px;
  padding-left: 5px;
  text-align: center;
  color: #FFF;
}
.skin-button-willblue-mid .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 32px;
}
.skin-button-willblue-mid .ui-button-label {
  padding-right: 5px;
  height: 32px;
}
.skin-button-willblue-mid .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1000px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1000px no-repeat;
}
.skin-button-willblue-mid .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1000px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1000px no-repeat;
}
.skin-button-willblue-mid-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1050px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1050px no-repeat;
}
.skin-button-willblue-mid-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1050px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1050px no-repeat;
}
.skin-button-willblue-mid-press {
  line-height: 31px;
  color: #A1B5C2;
}
.skin-button-willblue-mid-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1100px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1100px no-repeat;
}
.skin-button-willblue-mid-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1100px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1100px no-repeat;
}
.skin-button-willblue-mid-disabled {
  cursor: default;
}
.skin-button-willblue-mid-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1150px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1150px no-repeat;
}
.skin-button-willblue-mid-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1150px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1150px no-repeat;
}
.pre-style-willblue-mid {
  height: 32px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willlight {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 39px;
  line-height: 37px;
  padding-left: 5px;
  text-align: center;
  color: #7C7C7C;
}
.skin-button-willlight .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 39px;
}
.skin-button-willlight .ui-button-label {
  padding-right: 5px;
  height: 39px;
}
.skin-button-willlight .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -800px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -800px no-repeat;
}
.skin-button-willlight .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -800px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -800px no-repeat;
}
.skin-button-willlight-hover {
  color: #444;
}
.skin-button-willlight-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -850px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -850px no-repeat;
}
.skin-button-willlight-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -850px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -850px no-repeat;
}
.skin-button-willlight-press {
  line-height: 38px;
}
.skin-button-willlight-disabled {
  cursor: default;
}
.skin-button-willlight-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -800px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -800px no-repeat;
}
.skin-button-willlight-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -800px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -800px no-repeat;
}
.pre-style-willlight {
  height: 39px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willlight-lite {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 27px;
  line-height: 25px;
  padding-left: 5px;
  text-align: center;
  color: #7C7C7C;
}
.skin-button-willlight-lite .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 27px;
}
.skin-button-willlight-lite .ui-button-label {
  padding-right: 5px;
  height: 27px;
}
.skin-button-willlight-lite .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -900px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -900px no-repeat;
}
.skin-button-willlight-lite .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -900px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -900px no-repeat;
}
.skin-button-willlight-lite-hover {
  color: #444;
}
.skin-button-willlight-lite-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -950px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -950px no-repeat;
}
.skin-button-willlight-lite-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -950px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -950px no-repeat;
}
.skin-button-willlight-lite-press {
  line-height: 26px;
}
.skin-button-willlight-lite-disabled {
  cursor: default;
}
.skin-button-willlight-lite-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -900px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -900px no-repeat;
}
.skin-button-willlight-lite-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -900px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -900px no-repeat;
}
.pre-style-willlight-lite {
  height: 27px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-button-willsilver-large {
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  zoom: 1;
  height: 70px;
  line-height: 70px;
  padding-left: 5px;
  text-align: center;
  color: #8E8E8E;
}
.skin-button-willsilver-large .ui-button-bg-left {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 70px;
}
.skin-button-willsilver-large .ui-button-label {
  padding-right: 5px;
  height: 70px;
}
.skin-button-willsilver-large .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1200px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1200px no-repeat;
}
.skin-button-willsilver-large .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1200px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1200px no-repeat;
}
.skin-button-willsilver-large-hover .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1300px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1300px no-repeat;
}
.skin-button-willsilver-large-hover .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1300px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1300px no-repeat;
}
.skin-button-willsilver-large-press {
  line-height: 70px;
  color: #A9AAAB;
}
.skin-button-willsilver-large-press .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1400px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1400px no-repeat;
}
.skin-button-willsilver-large-press .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1400px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1400px no-repeat;
}
.skin-button-willsilver-large-disabled {
  cursor: default;
}
.skin-button-willsilver-large-disabled .ui-button-bg-left {
  background: url('../images/button-bg.$5826.png') left -1500px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') left -1500px no-repeat;
}
.skin-button-willsilver-large-disabled .ui-button-label {
  background: url('../images/button-bg.$5826.png') right -1500px no-repeat;
  _background: url('../images/button-bg-ie.$5826.png') right -1500px no-repeat;
}
.pre-style-willsilver-large {
  height: 70px;
  overflow: hidden;
  text-indent: -9999px;
}
.skin-text-willwhite,
.skin-textarea-willwhite {
  height: 18px;
  line-height: 18px;
  padding: 9px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
  font-size: 14px;
  overflow: hidden;
  color: #666;
  background: #f7f8f8;
  border: 1px solid #C9CACC;
  border-bottom: 1px solid #B1B3B5;
  box-shadow: 0 1px 1px #C9CACC;
}
.skin-textarea-willwhite {
  resize: vertical;
}
.skin-text-willwhite-hover,
.skin-textarea-willwhite-hover,
.skin-text-willwhite-focus,
.skin-textarea-willwhite-focus {
  border-bottom: 1px solid #A1A3A5;
  background: #FFF;
  color: #444;
}
.skin-text-willwhite-disabled,
.skin-textarea-willwhite-disabled {
  background: #e6e8e9;
  color: #999;
}
.skin-text-willwhite-virtual {
  color: #AAA;
}
.pre-style-text-willwhite {
  height: 38px;
  line-height: 0;
  visibility: hidden;
  border: none;
}
.skin-text-willwhite-lite,
.skin-textarea-willwhite-lite {
  height: 18px;
  line-height: 18px;
  padding: 9px 8px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  outline: none;
  font-size: 12px;
  overflow: hidden;
  color: #666;
  background: #f7f8f8;
  border: 1px solid #C9CACC;
  border-bottom: 1px solid #B1B3B5;
  box-shadow: 0 1px 1px #C9CACC;
}
.skin-textarea-willwhite-lite {
  resize: vertical;
}
.skin-text-willwhite-lite-hover,
.skin-textarea-willwhite-lite-hover,
.skin-text-willwhite-lite-focus,
.skin-textarea-willwhite-lite-focus {
  border-bottom: 1px solid #A1A3A5;
  background: #FFF;
  color: #444;
}
.skin-text-willwhite-lite-disabled,
.skin-textarea-willwhite-lite-disabled {
  background: #e6e8e9;
  color: #999;
}
.skin-text-willwhite-lite-virtual {
  color: #AAA;
}
.pre-style-text-willwhite-lite {
  height: 38px;
  line-height: 0;
  visibility: hidden;
  border: none;
}
.ui-mask {
  background: #243440;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=50);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.ui-mask-slideshow {
  background: #000;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=90);
}
.ui-dialog {
  z-index: 1100;
}
.skin-dialog-willwhite-dragable,
.skin-dialog-willwhite {
  min-width: 400px;
  background: #F6F6F6;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 5px #243440;
}
.skin-dialog-willwhite-dragable .ui-dialog-head,
.skin-dialog-willwhite .ui-dialog-head {
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
  position: relative;
  zoom: 1;
}
.skin-dialog-willwhite-dragable .ui-dialog-head .ui-dialog-title,
.skin-dialog-willwhite .ui-dialog-head .ui-dialog-title {
  padding: 20px 25px 16px;
  font-size: 14px;
  color: #124062;
}
.skin-dialog-willwhite-dragable .ui-dialog-head .skin-button-layerclose,
.skin-dialog-willwhite .ui-dialog-head .skin-button-layerclose {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
  display: block;
  height: 11px;
  width: 11px;
  background: url('../images/feed-icons.$6973.png') no-repeat;
  _background: url('../images/feed-icons-ie.$5234.png') no-repeat;
  background-position: -330px -30px;
}
.skin-dialog-willwhite-dragable .ui-dialog-head .skin-button-layerclose:hover,
.skin-dialog-willwhite .ui-dialog-head .skin-button-layerclose:hover {
  background-position: -330px 0;
}
.skin-dialog-willwhite-dragable .ui-dialog-body,
.skin-dialog-willwhite .ui-dialog-body {
  padding: 20px 25px;
  zoom: 1;
}
.skin-dialog-willwhite-dragable .ui-dialog-body .ui-dialog-text,
.skin-dialog-willwhite .ui-dialog-body .ui-dialog-text {
  line-height: 1.6em;
}
.skin-dialog-willwhite-dragable .ui-dialog-head:after,
.skin-dialog-willwhite .ui-dialog-head:after,
.skin-dialog-willwhite-dragable .ui-dialog-body:after,
.skin-dialog-willwhite .ui-dialog-body:after,
.skin-dialog-willwhite-dragable .ui-dialog-foot:after,
.skin-dialog-willwhite .ui-dialog-foot:after {
  content: '\u0020';
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.skin-dialog-willwhite-dragable .ui-dialog-foot,
.skin-dialog-willwhite .ui-dialog-foot {
  padding: 0 25px 20px;
  zoom: 1;
}
.skin-dialog-willwhite-dragable .ui-dialog-foot .ui-button,
.skin-dialog-willwhite .ui-dialog-foot .ui-button {
  float: right;
  _display: inline;
  margin-left: 10px;
}
.skin-dialog-willwhite-dragable .ui-dialog-head {
  cursor: move;
}
div#PopElementContainer {
  position: relative;
  height: 0;
  width: 100%;
  z-index: 9999;
  _line-height: 0;
  _font-size: 0;
}
div#PopElementContainer * {
  _line-height: 1;
  _font-size: 12px;
}
/* div.dd-global-notify{height:70px;line-height:70px;font-size:40px;background:#EEF7FC;width:100%;text-align:center;position:fixed;left:0;top:0;overflow:hidden;} */
div.dd-global-notify-position {
  float: left;
  position: fixed;
  _position: absolute;
  left: 50%;
  top: 0;
}
div.dd-global-notify-wrap {
  position: relative;
  left: -50%;
  background: #2c4762;
  background: rgba(0, 0, 0, 0.3);
  padding: 0 7px 7px;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
div#PopElementContainer div.dd-global-notify {
  background: #fff;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  padding: 6px 50px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
/* show scrollbar by default */
html {
  overflow-y: scroll;
}
/* clearFix*/
.clearfix:after,
#content:after {
  content: "\20";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#content:after {
  height: auto;
  height: 0\9;
}
.clearfix,
#content {
  zoom: 1;
}
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}
/* hn */
h1 {
  font-size: 16px;
}
h2,
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 12px;
}
/* link */
a,
a:link,
a:visited {
  text-decoration: none;
  color: #307DCA;
  cursor: pointer;
}
/* To Be Deleted Soon */
/* close */
a.x-close {
  display: block;
  width: 11px;
  height: 11px;
  background: url(../images/x-close.$108.png) no-repeat 0 0;
  text-indent: -9999px;
  outline: none;
  cursor: pointer;
}
a.x-close:hover {
  background-position: 0 -11px;
}
/* button */
a.a-button {
  display: inline-block;
  height: 26px;
  padding-left: 10px;
  background: url(../images/a-button.$262.png) no-repeat 0 0;
  line-height: 26px;
}
a.a-button span {
  float: left;
  font-weight: normal;
  height: 26px;
  padding: 0 10px 0 0;
  background: url(../images/a-button.$262.png) no-repeat right 0;
  color: #5F5C5C;
  margin-right: -1px;
}
a.a-button.icon-add {
  padding-left: 25px;
  background-position: 0 -26px !important;
}
a.a-button.disabled {
  background-position: 0 -73px !important;
}
a.a-button.disabled span {
  background-position: right -73px;
  color: #B4B5B6;
}
a.a-button-1 {
  line-height: 21px;
  height: 21px;
  display: inline-block;
  color: #000;
  border: 1px solid #C0C4C7;
  background: url(../images/a-button.$262.png) repeat-x 0 -52px;
  padding: 0 10px;
}
a.a-button-1:hover {
  border-color: #69A7FF;
}
a.a-button-1.disable {
  border-color: #C0C4C7;
  color: #999;
  cursor: default;
}
a.green-button,
span.green-button {
  display: block;
  height: 47px;
  line-height: 45px;
  background: url(../images/green.$90.png) no-repeat right;
  padding-right: 10px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", 'Microsoft Yahei', Tahoma;
  font-size: 24px;
  color: #fff;
}
a.green-button span,
span.green-button span {
  display: block;
  height: 47px;
  background: url(../images/green.$90.png) no-repeat;
  padding: 0 20px 0 30px;
  margin-right: -1px;
}
a.green-button.with-arrow,
span.green-button.with-arrow {
  padding-right: 35px;
}
a.green-button.with-arrow span,
span.green-button.with-arrow span {
  padding-right: 0;
}
a.green-button-2 {
  display: block;
  float: right;
  background: #86B500;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #557402;
  height: 38px;
  line-height: 38px;
  padding: 0 25px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a.green-button-2.disabled {
  border-color: #999;
  background-color: #ccc;
  cursor: default;
}
a.b-button {
  display: inline-block;
  height: 22px;
  padding-left: 5px;
  background: url(../images/a-button.$262.png) no-repeat 0 -99px;
  line-height: 22px;
}
a.b-button span {
  display: block;
  font-weight: normal;
  height: 22px;
  padding: 0 10px 0 5px;
  background: url(../images/a-button.$262.png) no-repeat right -99px;
  color: #5F5C5C;
  margin-right: -1px;
}
a.b-button.icon-add {
  padding-left: 20px;
  background-position: 0 -99px;
}
a.b-button.icon-add span {
  padding-left: 0;
}
a.round-button,
span.round-button {
  display: inline-block;
  height: 26px;
  line-height: 26px;
  background: url(../images/round.$321.png) no-repeat 0 0;
  padding-left: 20px;
  font-size: 14px;
  color: #fff !important;
  margin-right: 15px;
}
a.round-button span,
span.round-button span {
  display: inline-block;
  margin-right: -15px;
  _margin-right: 0;
  height: 26px;
  line-height: 26px;
  background: url(../images/round.$321.png) no-repeat right 0;
  padding-right: 20px;
}
a.round-button span:after,
span.round-button span:after,
a.round-button:before,
span.round-button:before {
  content: "1";
  display: block;
  height: 0;
  visibility: hidden;
}
a.round-button-cancel,
span.round-button-cancel {
  background-position: 0 -26px;
}
a.round-button-cancel span,
span.round-button-cancel span {
  background-position: right -26px;
}
a.simple-gray-button,
span.simple-gray-button {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  background: #DEDEDE;
  border: 1px solid #C5C2C2;
  color: #666;
  font-size: 14px;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* gray button */
.gray-button {
  border: none;
  background: url(../images/gray-button.$5106.png) repeat-x 0 0;
  height: 36px;
  border: 1px solid #787878;
  font-size: 14px;
  line-height: 36px;
  display: block;
  padding: 0 20px;
  color: #333;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.gray-button:hover {
  background-position: 0 -36px;
}
.gray-button.disabled {
  color: #999;
  border-color: #A9ABAB;
}
/* gray button */
.deep-blue-button {
  border: none;
  background: url(../images/deep-blue.$1311.png) repeat-x 0 0;
  height: 28px;
  border: 1px solid #002C46;
  font-size: 14px;
  line-height: 28px;
  display: block;
  padding: 0 20px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.deep-blue-button:hover {
  background-position: 0 -28px;
  border-color: #1C4D6D;
}
/* pure button */
a.pure-button {
  display: block;
  float: left;
  color: #777;
  background-color: #F5F5F5;
  border: 1px solid #ccc;
  border-color: #DDD #CCC #CCC #DDD;
  cursor: pointer;
  height: 36px;
  line-height: 36px;
  font-size: 14px;
  padding: 0 20px 0 18px;
  border-radius: 5px;
}
a.pure-button:hover {
  background-color: #C2DAF0;
  border-color: #9BBAE2;
  color: #145591;
}
a.pure-button.green {
  color: #529214;
}
a.pure-button.green:hover {
  background-color: #E6EFC2;
  border-color: #C6D880;
}
a.pure-button.red {
  color: #D12F19;
}
a.pure-button.red:hover {
  background-color: #FBE3E4;
  border-color: #FBC2C4;
}
/* input */
input.input-text,
textarea.input-text,
input.shadow-input-text,
textarea.shadow-input-text {
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #AEBACD;
  padding: 4px;
  background: url(../images/input-text.$53.png) no-repeat;
}
input.input-text,
input.shadow-input-text {
  height: 30px;
}
input.simple-input-text,
textarea.simple-input-text {
  font-size: 14px;
  line-height: 20px;
  border: 1px solid #AEBACD;
  padding: 4px;
}
input.simple-input-text {
  height: 30px;
}
.simple-input-text.disabled {
  background-color: #EEE;
}
/* select */
select.global-select {
  border: 1px solid #AEBACD;
  font-size: 14px;
  padding: 10px 4px;
  background: url(../images/input-text.$53.png) no-repeat;
}
/* button */
.input-button,
.blue-button {
  border: none;
  background: url(../images/blue-button.$5106.png) repeat-x 0 0;
  height: 36px;
  border: 1px solid #006DAB;
  font-size: 14px;
  line-height: 36px;
  display: block;
  padding: 0 20px;
  color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  cursor: pointer;
}
.input-button:hover,
.blue-button:hover {
  background-position: 0 -36px;
}
.input-button.disabled,
.blue-button.disabled {
  background-position: 0 -72px;
  color: #999;
  border-color: #A9ABAB;
}
/* dialog */
.dd-dialog {
  position: fixed;
  _position: absolute;
  z-index: 999;
}
.dd-dialog table {
  z-index: 999;
  position: relative;
}
.dd-dialog iframe {
  position: absolute;
  z-index: 998;
  top: 10px;
  left: 10px;
}
.dd-dialog-tr-t {
  height: 10px;
}
.dd-dialog-td-lt {
  width: 10px;
  height: 10px;
  background: url(../images/dialog.$375.png) no-repeat;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-lt.$376.png', sizingMethod='crop');
}
.dd-dialog-td-ct {
  height: 10px;
  background: url(../images/dialog.$375.png) repeat-x 0 -10px;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-cc.$376.png', sizingMethod='scale');
}
.dd-dialog-td-rt {
  width: 10px;
  height: 10px;
  background: url(../images/dialog.$375.png) no-repeat -20px 0;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-rt.$376.png', sizingMethod='crop');
}
.dd-dialog-td-lc {
  width: 10px;
  height: 100%;
  background: url(../images/dialog.$375.png) repeat-y -10px 0;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-cc.$376.png', sizingMethod='scale');
}
.dd-dialog-td-cc {
  background: #fff;
}
.dd-dialog-td-rc {
  width: 10px;
  height: 100%;
  background: url(../images/dialog.$375.png) repeat-y -10px 0;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-cc.$376.png', sizingMethod='scale');
}
.dd-dialog-td-lb {
  width: 10px;
  height: 10px;
  background: url(../images/dialog.$375.png) no-repeat 0 -20px;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-lb.$376.png', sizingMethod='crop');
}
.dd-dialog-td-cb {
  height: 10px;
  background: url(../images/dialog.$375.png) repeat-x 0 -10px;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-cc.$376.png', sizingMethod='scale');
}
.dd-dialog-td-rb {
  width: 10px;
  height: 10px;
  background: url(../images/dialog.$375.png) no-repeat -20px -20px;
  _background-image: none;
  _filter: progid:dximagetransform.microsoft.alphaimageloader(src='http://s.srcdd.com../images/dialog-rb.$376.png', sizingMethod='crop');
}
.dd-dialog-wrap {
  padding: 15px 0;
}
.dd-dialog-header {
  padding: 0 15px 15px;
}
.dd-dialog-header h2 {
  float: left;
}
.dd-dialog-close-btn {
  float: right;
  display: block;
  width: 18px;
  height: 18px;
  background: url(../images/x-close.$108.png) no-repeat 0 -22px;
  text-indent: -9999px;
  outline: none;
}
.dd-dialog-close-btn:hover {
  background-position: 0 -40px;
}
.dd-dialog-content {
  padding: 0 15px;
}
.dd-dialog-footer {
  padding: 15px 15px 0;
}
#icp-code {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -55px;
}
#icp-code a {
  color: #A8B1BA;
}
.hidden {
  display: none;
}
.left,
.right {
  display: inline;
}
.left {
  float: left;
}
.right {
  float: right;
}
html {
  background: url(../images/htmlbg.$5752.png) repeat;
}
#reg-login-switch {
  position: fixed;
  _position: absolute;
  right: -3px;
  top: 20px;
}
#reg-login-switch a {
  display: block;
  width: 93px;
  height: 44px;
  text-indent: -9999px;
  outline: none;
  background: url(../images/reg-login-switcher.$6600.png) no-repeat;
}
#reg-login-switch #go-register {
  background-position: 0 -55px;
}
#reg-login-switch #go-register:hover {
  background-position: -120px -55px;
}
#reg-login-switch #go-login {
  background-position: 0 0;
}
#reg-login-switch #go-login:hover {
  background-position: -120px 0;
}
#startpage {
  overflow: hidden;
  padding-bottom: 20px;
}
#startpage #startpage-wrap {
  min-width: 900px;
  margin-left:0;
}
#startpage .login-bg {
  background: url(../images/login-dividing-line.$7164.png) center bottom no-repeat;
}
#startpage #logo-startpage span {
  display: block;
  height: 56px;
  margin: 0 auto 40px;
  position: relative;
}
#startpage #logo-startpage a {

}
#startpage #logo-startpage .register-logo {
  width: 440px;
}
#startpage #logo-startpage .register-logo a {
  margin: 0 auto;
}
#startpage #logo-startpage .login-logo {
  width: 880px;
}
#startpage .input-wrap {
  width: 288px;
  height: 52px;
  margin-bottom: 3px;
  background: url(../images/startpage-0410.$6008.png) no-repeat -210px -52px;
  _background-image: url(../images/startpage-0410-ie6.$6008.png);
  position: relative;
  margin-right: 5px;
}
#startpage .input-wrap label,
#startpage .input-wrap .blogurl-address {
  position: absolute;
  width: 240px;
  height: 52px;
  margin: 0 10px;
  line-height: 52px;
  color: #ABACAD;
  font-size: 16px;
  left: 32px;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  z-index: 10;
}
#startpage .input-wrap.focus {
  background-position: -210px 0;
}
#startpage .input-wrap.focus label {
  color: #8F8F8F;
}
#startpage .input-wrap.error {
  background-position: 0 -196px;
  color: #AC0000;
}
#startpage .input-wrap .tip {
  position: absolute;
  width: 197px;
  height: 36px;
  line-height: 36px;
  background: url(../images/startpage-1231.$5800.png) no-repeat -300px -130px;
  _background-image: url(../images/startpage-1231-ie6.$5126.png);
  top: 50px;
  left: 10px;
  text-align: center;
  color: #8F8958;
  font-size: 12px;
  z-index: 0;
}
#startpage .input-wrap .input-icon {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(../images/startpage-1231.$5800.png) no-repeat;
  _background-image: url(../images/startpage-1231-ie6.$5126.png);
  margin: 18px 0 0 15px;
  _margin-left: 8px;
}
#startpage #input-reg-email .input-icon,
#startpage #input-login-email .input-icon {
  background-position: 0 -197px;
}
#startpage #input-reg-email.focus .input-icon,
#startpage #input-login-email.focus .input-icon {
  background-position: 0 -147px;
}
#startpage #input-reg-pwd .input-icon,
#startpage #input-login-pwd .input-icon {
  background-position: 0 -300px;
}
#startpage #input-reg-pwd.focus .input-icon,
#startpage #input-login-pwd.focus .input-icon {
  background-position: 0 -250px;
}
#startpage #input-login-pwd {
  margin-bottom: 20px;
}
#startpage #ctrlbuttonlogin-submitlabel {
  font-size: 14px;
  letter-spacing: 10px;
}
#startpage #ctrlbuttonreg-submitlabel {
  font-size: 14px;
}
#startpage #input-reg-blogurl {
  margin-bottom: 20px;
}
#startpage #input-reg-blogurl .input-icon {
  background-position: 0 -400px;
}
#startpage #input-reg-blogurl.focus .input-icon {
  background-position: 0 -350px;
}
#startpage #input-reg-blogurl .startpage-input-text {
  width: 125px;
}
#startpage #blogurl {
  visibility: hidden;
  font-size: 16px;
  padding-right: 1px;
  white-space: nowrap;
}
#startpage .startpage-input-text {
  width: 234px;
  padding: 10px;
  height: 32px;
  line-height: 32px;
  background: transparent url(/img/blank.$166.png) repeat;
  border: 0;
  outline: none;
  font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
  position: absolute;
  font-size: 16px;
  color: #8F8F8F;
  z-index: 20;
}
#startpage html input:-webkit-autofill {
  background-color: #FFF !important;
}
#startpage .help-link {
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}
#startpage .help-link:hover {
  color: #8D8D8D;
}
#startpage #login-wrap {
  position: relative;
  margin: 0 auto;
  width: 880px;
  padding-bottom: 10px;
}
#startpage #login-form-wrap {
  width: 288px;
}
#startpage .error-msg {
  height: 53px;
  line-height: 53px;
  width: 290px;
  color: #fff;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: url(../images/startpage-error.$4598.png) no-repeat center center;
}
#startpage #login-err-msg {
  margin: -30px auto 30px;
}
#startpage #register-err-msg {
  margin-left: auto;
  margin-right: auto;
}
#startpage #forget-password {
  float: left;
  color: #9ea0a3;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
}
#startpage #forget-password:hover {
  color: #8D8D8D;
}
#startpage .register-third-party-wrap {
  margin: 0 auto;
  width: 440px;
  padding-top: 35px;
}
#startpage .register-third-party-wrap a {
  display: block;
  float: left;
  width: 211px;
  height: 59px;
  margin: 0 17px 18px 0;
  background: url(../images/third-register-login-btn.$7164.png) no-repeat;
  text-indent: -9999em;
}
#startpage .register-third-party-wrap a.last {
  margin-right: 0px;
}
#startpage .register-third-party-wrap a.weibo {
  float: none;
  margin: 0 auto;
  background-position: 0px 0px;
}
#startpage .register-third-party-wrap a.weibo:hover {
  background-position: -211px 0px;
}
#startpage .register-third-party-wrap a.weibo:active {
  background-position: -422px 0px;
}
#startpage .register-third-party-wrap a.qq {
  background-position: 0px -63px;
}
#startpage .register-third-party-wrap a.qq:hover {
  background-position: -211px -63px;
}
#startpage .register-third-party-wrap a.qq:active {
  background-position: -422px -63px;
}
#startpage .register-third-party-wrap a.douban {
  background-position: 0px -126px;
}
#startpage .register-third-party-wrap a.douban:hover {
  background-position: -211px -126px;
}
#startpage .register-third-party-wrap a.douban:active {
  background-position: -422px -126px;
}
#startpage .register-third-party-wrap a.renren {
  background-position: 0px -189px;
}
#startpage .register-third-party-wrap a.renren:hover {
  background-position: -211px -189px;
}
#startpage .register-third-party-wrap a.renren:active {
  background-position: -422px -189px;
}
#startpage .register-third-party-wrap a.qqweibo {
  background-position: 0px -252px;
}
#startpage .register-third-party-wrap a.qqweibo:hover {
  background-position: -211px -252px;
}
#startpage .register-third-party-wrap a.qqweibo:active {
  background-position: -422px -252px;
}
#startpage .register-third-party-wrap a.msn {
  background-position: 0px -315px;
}
#startpage .register-third-party-wrap a.msn:hover {
  background-position: -211px -315px;
}
#startpage .register-third-party-wrap a.msn:active {
  background-position: -422px -315px;
}
#startpage #show-more-third-span {
  cursor: pointer;
}
#startpage #more-third-register {
  display: none;
}
#startpage .login-third-party-wrap {
  position: absolute;
  width: 440px;
  top: 0px;
  right: 0px;
}
#startpage .login-third-party-wrap a {
  display: block;
  float: left;
  width: 211px;
  height: 59px;
  margin: 0 17px 18px 0;
  background: url(../images/third-register-login-btn.$7164.png) no-repeat;
  text-indent: -9999em;
}
#startpage .login-third-party-wrap a.last {
  margin-right: 0px;
}
#startpage .login-third-party-wrap a.weibo {
  background-position: 0px -378px;
}
#startpage .login-third-party-wrap a.weibo:hover {
  background-position: -211px -378px;
}
#startpage .login-third-party-wrap a.weibo:active {
  background-position: -422px -378px;
}
#startpage .login-third-party-wrap a.qq {
  background-position: 0px -441px;
}
#startpage .login-third-party-wrap a.qq:hover {
  background-position: -211px -441px;
}
#startpage .login-third-party-wrap a.qq:active {
  background-position: -422px -441px;
}
#startpage .login-third-party-wrap a.douban {
  background-position: 0px -504px;
}
#startpage .login-third-party-wrap a.douban:hover {
  background-position: -211px -504px;
}
#startpage .login-third-party-wrap a.douban:active {
  background-position: -422px -504px;
}
#startpage .login-third-party-wrap a.renren {
  background-position: 0px -567px;
}
#startpage .login-third-party-wrap a.renren:hover {
  background-position: -211px -567px;
}
#startpage .login-third-party-wrap a.renren:active {
  background-position: -422px -567px;
}
#startpage .login-third-party-wrap a.qqweibo {
  background-position: 0px -630px;
}
#startpage .login-third-party-wrap a.qqweibo:hover {
  background-position: -211px -630px;
}
#startpage .login-third-party-wrap a.qqweibo:active {
  background-position: -422px -630px;
}
#startpage .login-third-party-wrap a.msn {
  background-position: 0px -693px;
}
#startpage .login-third-party-wrap a.msn:hover {
  background-position: -211px -693px;
}
#startpage .login-third-party-wrap a.msn:active {
  background-position: -422px -693px;
}
#startpage .login-third-party-wrap #more-third-register {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
#startpage #footer {
  position: absolute;
  width: 100%;
  font-size: 12px;
  color: #9ea0a3;
  bottom: 0px;
  text-align: center;
}
#startpage #footer a,
#startpage #footer a:link,
#startpage #footer a:visited {
  color: #9ea0a3;
  text-decoration: none;
}
#startpage #footer .footer-item {
  margin-left: 6px;
}
#startpage #footer a:hover {
  color: #8d8d8d;
}
#startpage .input-button {
  display: block;
  width: 96px;
  height: 45px;
  background: url(../images/startpage-0410.$6008.png) no-repeat -400px -200px;
  _background-image: url(../images/startpage-0410-ie6.$6008.png);
  border: 0;
  cursor: pointer;
  float: left;
  margin-top: 4px;
  font-size: 16px;
  color: #8C8C8D;
}
#startpage .input-button:hover {
  background-position: -400px -245px;
}
#startpage .input-button:active {
  background-position: -400px -290px;
}
#startpage #startpage {
  position: relative;
  height: 100%;
}
#startpage #more-about-diandian-holder {
  top: -9999px;
  background-color: #E9ECEE;
  height: 60px;
  border-top: 1px solid #D6DADD;
  -webkit-box-shadow: 0 0 3px #D6DADD;
  -moz-box-shadow: 0 0 3px #D6DADD;
  box-shadow: 0 0 3px #D6DADD;
  position: absolute;
  left: 0;
  width: 100%;
}
#startpage #more-about-diandian {
  width: 765px;
  margin: 0 auto;
}
#startpage #more-about-diandian .icon-link {
  display: block;
  height: 43px;
  width: 201px;
  text-indent: -9999px;
  outline: none;
  background: url(../images/startpage-about.$5696.png) no-repeat;
  float: left;
  cursor: pointer;
  margin-top: 8px;
}
#startpage #more-about-diandian #about-diandian:hover {
  background-position: 0 -110px;
}
#startpage #more-about-diandian #blog-transfer-entry {
  width: 157px;
  background-position: -201px 0;
}
#startpage #more-about-diandian #blog-transfer-entry:hover {
  background-position: -201px -110px;
}
#startpage #login-help,
#startpage #register-help {
  margin-top: 10px;
  height: 15px;
}
#startpage #login-help .pipe,
#startpage #register-help .pipe {
  color: #bbb;
  padding: 0 10px;
  font-size: 8px;
  float: left;
  line-height: 15px;
  height: 15px;
}
#startpage .hidden-submit {
  margin-left: -9999px;
  height: 0;
}
#startpage .error-tip {
  width: 228px;
  padding: 0 20px 0 40px;
  line-height: 36px;
  margin-top: -15px;
  height: 40px;
  background: url(../images/startpage-0410.$6008.png) no-repeat -200px -450px;
  _background-image: url(../images/startpage-0410-ie6.$6008.png);
  margin-bottom: 20px;
  color: #69664F;
}
#startpage #reg-stage-choose {
  background: url(../images/startpage-stage.$6008.png) no-repeat;
  width: 288px;
  height: 162px;
  margin-bottom: 20px;
}
#startpage #reg-stage-choose h5 {
  color: #B4B4B4;
  font-size: 14px;
  padding: 20px 0 25px;
  text-align: center;
}
#startpage #reg-stage-choose label {
  float: left;
  padding-top: 50px;
  width: 70px;
  margin-left: 24px;
  cursor: pointer;
  background: url(../images/startpage-stage.$6008.png) no-repeat;
}
#startpage #reg-stage-choose input {
  margin-right: 5px;
}
#startpage #reg-stage-choose #label-office {
  background-position: -35px -290px;
}
#startpage #reg-stage-choose #label-student {
  background-position: -119px -290px;
}
#startpage #reg-stage-choose #label-unknow {
  background-position: -207px -290px;
}
#startpage #diandian-host {
  float: right;
  padding-right: 10px;
}
#startpage .third-party-first,
#startpage #show-more-third,
#startpage .third-party-last {
  display: block;
}
#startpage #show-more-third,
#startpage .third-party-last {
  *margin-top: 18px;
}
